<template>
  <px-header />
  <px-hero />
  <px-about />

</template>

<script>

import PxHeader from '@/components/PxHeader'
import PxHero from '@/components/PxHero'
import PxAbout from '@/components/PxAbout'

export default {
  name: 'About',
  components: {
    PxHeader,
    PxHero,
    PxAbout
  },

  mounted(){
    if(localStorage.getItem('access')){
      this.$router.push('/home')
    }
  }
}
</script>