<template>
    <px-header-user @nuevaBusqueda="newSearch"/>
    <px-search :key="updateKey" />
</template>

<script>
import PxHeaderUser from '@/components/PxHeaderUser'
import PxSearch from '@/components/PxSearch'

export default {
    name: 'HomeUser',
    
    data(){
        return {
            updateKey: 0
        }
    },

    components: {
        PxHeaderUser,
        PxSearch
    },

    mounted(){
        if(!localStorage.getItem('access')){
            this.$router.push('/')
        }
    },

    methods : {
        newSearch(){
            this.updateKey += 1;
            this.$forceUpdate();

        }

    }

}
</script>