<template>
    <px-header-user />
    <px-cart />
</template>

<script>
import PxHeaderUser from '@/components/PxHeaderUser'
import PxCart from '@/components/PxCart'

export default {
    name: 'HomeUser',
    components: {
        PxHeaderUser,
        PxCart
    },

    mounted(){
        if(!localStorage.getItem('access')){
            this.$router.push('/')
        }
    }
}
</script>