<template>
    <px-header-user />
    <px-categories />

</template>

<script>
import PxHeaderUser from '@/components/PxHeaderUser'
import PxCategories from '@/components/PxCategories'

export default {
    name: 'HomeUser',
    components: {
        PxHeaderUser,
        PxCategories
    },

    mounted(){
        if(!localStorage.getItem('access')){
            this.$router.push('/')
        }
    }
}
</script>