<template>
    <main class="main">
        <h1>404 - Not found</h1>
        <p>Esta pagina no existe para volver presione <router-link to="/">acá</router-link> </p>
    </main>
</template>

<script>
export default {
    name: 'Error'
}
</script>

<style scoped>
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
</style>