<template>
   <px-header v-if="!loading" />
   <px-hero v-if="!loading" />
   <px-home-products v-if="!loading" :products="products" />
   <px-loading v-if="loading"/>
</template>

<script>

import PxHeader from '@/components/PxHeader'
import PxHero from '@/components/PxHero'
import PxHomeProducts from '@/components/PxHomeProducts'
import PxLoading from '@/components/PxLoading'

import product from '@/logic/product'

export default {
  name: 'Home',

  data() {
    return {
      products: [],
      loading: true,
    }
  },

  components: {
    PxHeader,
    PxHero,
    PxHomeProducts,
    PxLoading
  },
  mounted(){
    if(localStorage.getItem('access')){
      this.$router.push('/home')
    }

    this.getProducts();
    
  },

  methods : {
    getProducts(){
      this.loading = true
      let response = product.getAll()
      response.then(response => {
        this.products = response.data
        this.loading = false
      })
    }
  }
}

</script>
