<template>
    <px-header-user />
    <px-home-products v-if="!loading" :products="products" />
    <px-loading v-if="loading"/>
</template>

<script>
import PxHeaderUser from '@/components/PxHeaderUser'
import PxHomeProducts from '@/components/PxHomeProducts'
import PxLoading from '@/components/PxLoading'

import product from '@/logic/product'
import jwt_decode from "jwt-decode";

export default {
    name: 'HomeUser',

    data() {
        return {
            products: [],
            loading: true
        }
    },

    components: {
        PxHeaderUser,
        PxHomeProducts,
        PxLoading
    },

    mounted(){
        if(!localStorage.getItem('access')){
            this.$router.push('/')
        }
        this.getProducts()
        this.isAdmin()
    },
    methods : {
        getProducts(){
            this.loading = true
            let response = product.getAll()
            response.then(response => {
                this.products = response.data
                this.loading = false
            })
        },
        isAdmin(){
            let token = localStorage.getItem('access')

            let decoded = jwt_decode(token)


            if(decoded.user_id == 6){
                
                localStorage.setItem('admin', true)

            } else {

                localStorage.setItem('admin', false)
            }

        }
    }
}
</script>