<template>
   <px-header></px-header>
   <px-login />
</template>

<script>

import PxHeader from '@/components/PxHeader'
import PxLogin from '@/components/PxLogin'

export default {
  name: 'Home',
  components: {
    PxHeader,
    PxLogin
  },

  mounted(){
    if(localStorage.getItem('access')){
      this.$router.push('/home')
    }
  }
}

</script>