<template>
    <px-header-user />
    <px-new-product />
</template>

<script>
import PxHeaderUser from '@/components/PxHeaderUser.vue'
import PxNewProduct from '@/components/PxNewProduct.vue'

export default {
    name: 'NewProduct',
    components: {
        PxHeaderUser,
        PxNewProduct
    },

    mounted(){
        if(!localStorage.getItem('access')){
            this.$router.push('/')
        }
    }
}
</script>

