<template>
    <px-header-user />
    <px-product />
</template>

<script>
import PxHeaderUser from '@/components/PxHeaderUser'
import PxProduct from '@/components/PxProduct'


export default {
    name: 'HomeUser',
    components: {
        PxHeaderUser,
        PxProduct
    }
}
</script>