<template>
   <px-header />
   <px-register />
</template>

<script>

import PxHeader from '@/components/PxHeader'
import PxRegister from '@/components/PxRegister'

export default {
  name: 'Home',
  components: {
    PxHeader,
    PxRegister
  },

  mounted(){
    if(localStorage.getItem('access')){
      this.$router.push('/home')
    }
  }
}

</script>