<template>
    <main class="main">
        <section v-if="products.length != 0" class="shopping">
            <h1>Tus compras: </h1>
            <div class="products" >
                <div class="product" v-for="product in products" :key="product.id">
                    <p> {{ product.name }}: {{ product.price }} </p>
                    <input class="input__cuantity" min="0" max="100" value="1" type="number">
                </div>

            </div>

            

            <div class="buttons">
                <button class="button" @click="clear">Vaciar</button>
                <button class="button" @click="buy">Comprar</button>
            </div>

        </section>

        <section class="notProduct" v-else>
            <h2 class=product__title>No hay productos que mostrar</h2>
        </section>
    </main>
</template>

<script>
export default {
    name: 'PxCart',
    data() {
        return {
            total: 0,
            products: []
        }
    }
}
</script>

<style scoped>
.shopping {
    margin: 0 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.input__cuantity {
    width: 50px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    font-size: 1rem;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.notProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}

</style>