<template>
    <main class="main">
        <section class="categories">
            <div class="category" @click="findProducts('1')" >Camisas</div>
            <div class="category" @click="findProducts('2')" >Pantalones</div>
            <div class="category" @click="findProducts('5')" >Camisetas</div>
            <div class="category" @click="findProducts('6')" >Vestidos</div>
            <div class="category" @click="findProducts('3')" >Zapatos</div>
            <div class="category" @click="findProducts('4')" >Accesorios</div>
        </section>

        <section >
            <h2>Productos: </h2>
            <div class="products" v-if="products.length != 0">
                <div class="product" v-for="product in products" :key="product.id">
                    <div class="product-image">
                        <img :src="product.image" alt="">
                    </div>
                    <div class="product-info">
                        <h3>{{ product.name }}</h3>
                        <p>Caracteristicas: {{ product.characteristics }}</p>
                        <p>Precio: {{ product.price }}</p>
                        <button @click="agregar">Agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div v-else-if="!selected">
                <h2>Selecciona una categoria</h2>
            </div>
            <div v-else>
                <h2>No hay productos de esta categoria</h2>
            </div>
        </section>
    </main>
</template>

<script>
import product from '@/logic/product'

export default {
    name: 'PxCategories',
    data() {
        return {
            products: [],
            selected: false
        }
    },
    methods: {
        async findProducts(category){
            let response = await product.getByCategory(category)

            this.products = response.data
            this.selected = true
        },
        agregar(){
            alert('Funcion no disponible')       
        }
    }
}
</script>

<style scoped>
.main {
    padding: 0 20px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.category {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.products {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product {
    margin: 10px;
    padding: 10px
}


</style>