<template>
    <header class="header">
        <div class="header__logo">
            <router-link to="/" class="logo__link"> Nombre </router-link>
        </div>
        <div class="header__nav">
            <router-link class="nav__link" to="/cart">Carrito</router-link>
            <router-link class="nav__link" to="/categories">Categorias</router-link>
            <router-link class="nav__link" v-if="isAdmin" to="/new">Nuevo Producto</router-link>
            <input type="text" class="input__search" v-model="search" placeholder="Buscar" v-on:keyup.enter="searchProduct">
            <button class="nav__link" @click="cerrarSesion">Cerrar sesion</button>
        </div>
    </header>
</template>

<script>

export default {
    name: 'PxHeaderUser',
    data() {
        return {
            search: '',
            isAdmin: false
        }
    },
    mounted() {
        this.isAdmin = (localStorage.getItem('admin') === 'true')

    },
    methods :{
        searchProduct(){
            this.$emit("nuevaBusqueda")
            this.$router.push({ path: `/search`, query: {search: this.search}})
        },
        cerrarSesion(){
            localStorage.clear()
            this.$router.push('/')
        }
    }
}

</script>

<style scoped>

.header {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    position: sticky;
    top: 0px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
}

.header__logo {
    margin-left: 10px;
}

.logo__link {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.header__nav {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.nav__link {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(104, 104, 104);    
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background: transparent;
}

.nav__link:hover {
   background: #00a8ff;
   color: white; 
}

.input__search {
    margin-left: 10px;
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid rgb(204, 204, 204);
}
.input__search:focus {
    border: 2px solid #00a8ff;
    outline: none;
}

@media (max-width: 720px) {
    .header {
        margin: 20px;
        flex-direction: column;
    }

    .header__nav {
        flex-direction: column;
    }

    .nav__link {
        margin: 5px 0;
    }
}

</style>