<template>
    <div class="hero">
        <div class="hero__msg">
            <h1 class="msg__title">Adquiere en nombre de manera facil y rapida con nosotros </h1>
        </div>
        <div class="hero__img">
            <img class="hero-img" src="@/assets/hero.jpg" alt="">
        </div>
    </div>
</template>

<style scoped>

.hero {
    width: 100%;
    display: flex;
    align-items: center;
}

.hero__msg {
    width: 50%;
    padding: 20px;
    display: flex;
}

.hero__img {
    width: 50%;
    background: transparent;
}

.hero-img {
    width: 100%;
}

@media (max-width: 700px) {
    .hero {
        flex-direction: column-reverse;
    }

    .hero__msg, .hero__img {
        width: 100%;
    }
}



</style>

