<template>
    <header class="header">
        <div class="header__logo">
            <router-link to="/" class="logo__link"> Nombre </router-link>
        </div>
        <div class="header__nav">
            <router-link class="nav__link" to="/about">About</router-link>
            <router-link class="nav__link" to="/login">Log in</router-link>
            <router-link class="nav__link" id="main__link" to="/register">Register</router-link>
        </div>
    </header>
</template>

<script>

export default {
    name: 'PxHeader'
}

</script>

<style scoped>

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    position: sticky;
    top: 0px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
}

.header__logo {
    margin-left: 10px;
}

.logo__link {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.header__nav {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.nav__link {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(104, 104, 104);    
    padding: 10px 15px;
    border-radius: 5px;
}

.nav__link:hover {
   background: #00a8ff;
   color: white; 
}

#main__link {
    color: white;
    background: #00a8ff;
    border: 1px solid #00a8ff;
    border-radius: 5px;
}

#main__link:hover {
    background: white;
    color : #00a8ff;
}

</style>