<template>
    <section class="products">
        <h2 class="products__title">Productos destacados</h2>

        <div class="products__list">
            <div class="product" v-for="product in products" :key="product.id">
                <img :src=" product.photo " :alt="product.photo ">
                <h3> {{ product.name }} </h3>
                <p> {{ product.characteristics }} </p>
                <router-link :to="{ path:'/product/' + product.id }">
                    <button class="btn btn-primary">Ver más</button>
                </router-link>
            </div>
            

        </div>
        
    </section>
</template>

<script>
export default {
    name: 'PxHomeProducts',
    props: {
        products: {
            type: Array,
            required: true
        }
    }
}
</script>

<style scoped>

.products__title {
    padding: 0 20px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product {
    width: 100%;
    padding: 10px;
    max-width: 400px;
    border: 1px outset #ccc;
    margin: 10px;
    border-radius: 5px;
}
</style>