<template>
    <main class="main">
        <form @submit.prevent="login" action="" class="form">
            <h2>Ingresa</h2>
            <input class="input" type="text" placeholder="Username" v-model="username">
            <input class="input" type="password" placeholder="Contraseña" v-model="password">
            <button class="button" type="submit">Ingresa</button>
        </form>
    </main>
</template>

<script>

import auth from '@/logic/auth'

export default {
    name: 'PxLogin',
    data(){
        return {
            username: '',
            password: ''
        }
    },
    methods: {
        async login(){
            let response = await auth.login(this.username, this.password)
            
            localStorage.setItem('access', response.data.access)
            localStorage.setItem('refresh', response.data.refresh)

            this.$router.push('/home')

        }
    }
}
</script>

<style scoped>
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.input {
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input:focus {
    border: 1px solid #00a8ff;
    outline: none;
}

.button {
    font-size: 1.1rem;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #00a8ff;
    color: #fff;
    cursor: pointer;
    border: 1px solid #00a8ff;
}

@media (max-width: 500px) {
    .form {
        width: 100%;
    }
}

</style>