<template>
    <main class="main">
        <form action="" @submit.prevent="createProduct" class="createProduct">
            <label class="label" for="">Nombre del producto</label>
            <input class="input" type="text" v-model="name">
            
            <label class="label" for="">Precio del producto</label>
            <input class="input" type="number" v-model="price">
            
            <label class="label" for="">Caracteristicas</label>
            <textarea class="textArea" name="" id="" cols="30" rows="10" v-model="characteristics"></textarea>
            
            <label class="label" for="">Foto del producto</label>
            <input type="file" >

            <label class="label" for="">Categoria</label>
            <select class="selection" name="" id="" v-model="category">
                <option value="1" selected>Camisas</option>
                <option value="2">Pantalones</option>
                <option value="5">Camisetas</option>
                <option value="6">Vestidos</option>
                <option value="3">Zapatos</option>
                <option value="4">Accesorios</option>

            </select>

            <button class="button" type="submit" >Crear</button>
        </form>
        <div v-if="created">
            <p>Producto creado</p>
        </div>
    </main>
</template>

<script>
import product from '@/logic/product'

export default {
    name: 'PxNewProduct',
    data() {
        return {
            name: '',
            price: '',
            characteristics: '',
            category: '',
            created: false
        }
    },
    mounted(){
        let isAdmin = (localStorage.getItem('admin') === 'true')

        if(!isAdmin){
            console.log(isAdmin)
            this.$router.push('/home')
        }
    },
    methods: {
        async createProduct() {

            let res = await product.createOne(this.name, this.price, this.name, this.characteristics, this.category)

            if(res.data.code === 201) {
                this.created = true
            }

        }
    }
        
}
</script>

<style scoped>

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.label {
    margin: 10px 0;
    font-size: 1.1rem;
}

.input {
    margin: 10px 0;
    font-size: 1.1rem;
    padding: 5px;
}

.textArea {
    width: 100%;
    margin: 10px 0;
    resize: vertical;
    font-size: 1.1rem;
    padding: 5px;
    font-family: inherit;
}

.button {
    margin: 10px 0;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #00a8ff;
    background-color: #00a8ff;
    color: white;
}

.selection {
    font-size: 1.1rem;
    padding: 5px;
}

@media screen and (max-width: 540px) {
    .createProduct {
        width: 100%;
        padding: 20px;
    }
    
}
</style>