<template>
    <main class="main">
        <section class="product" v-if="exists && !loading">
            <div class="product__tile">
                <h1> {{ product.name }} </h1> 
            </div>
            
            <div class="product__desc">
                <div class="desc__img">
                    <img :src="product.img" :alt="product.characteristics">
                </div>
                <div class="desc__info">
                    <p>Categoria: {{ product.category }} </p> 

                    <p>Caracteristicas: {{ product.characteristics }} </p> 
                    
                    
                    <p>Precio: {{ product.price }} </p> 

                    <button @click="agregar">Agregar al carrito</button>

                </div>
                
            </div>
        </section>

        <px-loading v-else-if="loading"/>

        <section class="notFound" v-else-if="!exists">
            <h2 class="notFount__title">No encontrado</h2>
            <p>No pudimos encontrar este producto</p>
        </section>
    </main>
</template>

<script>
import PxLoading from '@/components/PxLoading'

import product from '@/logic/product'

export default {
    name: 'PxProduct',
    components: {
        PxLoading
    },
    data() {
        return {
            exists: false,
            product: [],
            loading: true
        }
    },

    mounted(){
        if(!localStorage.getItem('access')){
            this.$router.push('/login')
        }

        let id = this.$route.params.id
        
        product.getOne(id)
        .then(response => {
            this.exists = true
            this.product = response.data
            this.loading = false

            switch (this.product.category) {
                case 1:
                    this.product.category = "Camisas"
                    break;
                case 2:
                    this.product.category = "Pantalones"
                    break;
                case 3:
                    this.product.category = "Zapatos"
                    break;
                case 4:
                    this.product.category = "Accesorios"
                    break;
                case 5:
                    this.product.category = "Camisetas"
                    break;
                case 6:
                    this.product.category = "Vestidos"
                    break;
                default:
                    break;
            }

        })
        .catch(error => {
            this.exists = false
            this.loading = false
        })

    },
    methods: {
        agregar(){
            alert('Funcion no disponible')       
        }
    }
}
</script>

<style scoped>

.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    height: 100%;
}

.product__tile {
    display: flex;
    justify-content: center;
}

.product__desc {
    display: flex;

}

.desc__img {
    width: 50%;
}

.desc__info {
    width: 50%;
}

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .product {
        flex-direction: column;
    }

    .product__desc {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .desc__img {
        width: 100%;
    }

    .desc__info {
        width: 100%;
    }
    
}

</style>