<template>
    <main class="main">
        <form @submit.prevent="register" class="form">
            <h2>Registrate y comienza a comprar ahora</h2>
            <input class="input" type="text" placeholder="Email" v-model="email">
            <input class="input" type="text" placeholder="Username" v-model="username">
            <input class="input" type="text" placeholder="Nombre" v-model="name">
            <input class="input" type="text" placeholder="Direccion" v-model="address">
            <input class="input" type="password" placeholder="Contraseña" v-model="password">

            <button class="button" type="submit">Registrate</button>
        </form>
    </main>
</template>

<script>

import auth from '@/logic/auth'

export default {
    name: 'PxLogin',
    data(){
        return {
            email: '',
            name: '',
            username: '',
            address: '',
            password: ''
        }
    },
    methods: {
        async register(){
            let response = await auth.register(this.email, this.username, this.name, this.address, this.password, this.repeatPassword)
            
            localStorage.setItem('access', response.data.access)
            localStorage.setItem('refresh', response.data.refresh)

            this.$router.push('/home')

        }
    }
}
</script>

<style scoped>

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.input {
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input:focus {
    border: 1px solid #00a8ff;
    outline: none;
}

.button {
    font-size: 1.1rem;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #00a8ff;
    color: #fff;
    cursor: pointer;
    border: 1px solid #00a8ff;
}

@media (max-width: 500px) {
    .form {
        width: 100%;
    }
}

</style>