<template>
    <main class="main">
        <section class="search">
            <h2>Busqueda para: {{ search }} </h2>
            <div class="products" v-if="products.length != 0 ">
                <div class="product" v-for="product in products" :key="product.id">
                    <h3>{{ product.name }}</h3>
                    <p>Caracteristicas: {{ product.characteristics }}</p>
                    <p>Precio: {{ product.price }}</p>
                    <button @click="agregar">Agregar al carrito</button>

                </div>
            </div>
            <div v-else>
                <h3>No hay resultados para tu busqueda</h3>
            </div>
        </section>
    </main>
</template>

<script>
import product from '@/logic/product'

export default {
    name: 'PxSearch',
    data() {
        return {
            products: [],
            search: '',
            loading: true
        }
    },
    mounted(){
        this.getName()
    },
    methods: {
        getName(){
            this.search = this.$route.query.search
            product.getAll(this.search)
            .then(products => {
                this.loading = false
                this.products = products.data
            })
        },
        agregar(){
            alert("Funcionalidad no agregada")
        }
    },
    watch : {
        '$route'() {
            this.getName()
        } 
    }
}
</script>


<style scoped>
.search {
    padding: 20px
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product {
    margin: 20px;
}
</style>